.header {
	height: 80vh;
 	//animation: grow 1s ease-in backwards; 

     background-image: linear-gradient(
        to right bottom,
        rgba($color-tertiary-light, 0.8),
        rgba($color-tertiary-dark, 0.8)),
    url(../img/hero-small.jpg);
    background-size: cover;
    background-position: top;
    position: relative;

	background: 
	conic-gradient($color-tertiary-dark, rgba($color-tertiary-light, 0.6)), 
	conic-gradient(silver 25%, $color-tertiary-dark 0 50%, 
					silver 0 75%, $color-tertiary-dark 0);
	background-size: auto, 1em 1em;
	
	transform: skewY(-6.7deg);	

	& > * {
		transform: skewY(6.7deg);		
	}

	@supports(clip-path: polygon(0 0)) or (-webkit-clip-path: polygon(0 0)) {
		clip-path: polygon(0 0, 100% 0, 100% 75vh, 0 100%);
		-webkit-clip-path: polygon(0 0, 100% 0, 100% 75vh, 0 100%);
		height: 95vh;
	}


	@media only screen and (min-resolution: 192dpi) and (min-width: 37.5em),
			only screen and (-webkit-min-device-pixel-ratio: 2) and (min-width: 37.5em),
			only screen and (min-width: 125em){ // 2000/16 the same like media querie
		
		background-image: linear-gradient(
			to right bottom, 
			rgba($color-tertiary-light, 0.8), 
			rgba($color-tertiary-dark, 0.8)), 
		url(../img/hero.jpg);
	}

	// @include respond(phone){
	// 	clip-path: polygon(0 0, 100% 0, 100% 85vh, 0 100%);
	// 	-webkit-clip-path: polygon(0 0, 100% 0, 100% 85vh, 0 100%);
	// }

	&__logo {
		height: 6.5rem;
	}
	&__logo-box {
		position: absolute;
		top: 3rem;
		left: 3rem;
	}
	&__text-box {
		width: 86%;
		position: absolute;
		top: 45%;
		left: 50%;
		transform: translate(-50%, -50%);
		text-align: center;
	}

}